# Mac OS
.DS_Store

# Eclipse
/.settings/
/.classpath
/.project
src/main/resources/rebel.xml

# Maven
target/

# Node
node_modules
node

# Bower
src/main/resources/static/vendor

# Gulp
src/main/resources/static/tmp
build/dist

# Docs
docs

# Tests
src/main/resources/static/application/test/e2e/results/*
src/main/resources/static/application/test/unit/results/*

/data/
