# Mac OS
.DS_Store

# Eclipse
/.settings/
/.classpath
/.project

# Maven
target/

# Node
node_modules

# Bower
src/main/resources/static/src/vendor

# Gulp
src/main/resources/static/tmp
build/dist

# Tests
src/main/resources/static/application/test/screenshots/*
src/main/resources/static/application/test/unit-results/*

