<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Petições</p>
					</li>
					<li><a href="#" class="active">Distribuição</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
        <form name="taskForm" ng-submit="finalizar()">
            <div class="card share" data-social="item" style="width: 100%">
                <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
                <div class="card-header clearfix">
                    <h5>Ministro Relator</h5>
                    <h6>Para qual ministro você deseja distribuir esse processo?</h6>
                </div>
                <div class="card-description">
                    <select ui-select2 id="relator" ng-model="relator" data-placeholder="Selecione o Relator" style="width: 250px;" autofocus>
                        <option value=""></option>
                        <option ng-repeat="ministro in ministros" value="{{ministro.id}}">{{ministro.nome}}</option>
                    </select>
                </div>
			</div>
            <p>
                <input id="finalizar" class="btn btn-complete btn-cons m-t-10" type="submit" value="Distribuir">
            </p>
        </form>
	</div>
</div>
