<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Pesquisa</p>
					</li>
					<li><a href="#" id="subtitulo" class="active">Processos</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div class="row">
			<div class="col-lg-7">
				<div class="panel panel-default">
					<div class="panel-body">
						<form id="searchForm" ng-submit="pesquisar()" role="form">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-group-default">
										<label>Classe sugerida</label>
										<select ui-select2="{allowClear:'true'}" id="classe" ng-model="classe" class="full-width">
											<option value=""></option>
											<option ng-repeat="classe in classes" value="{{classe.sigla}}">{{classe.nome}} ({{classe.sigla}})</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-group-default">
										<label>Número do Processo</label>
										<input id="numero" type="number" ng-model="numero" class="form-control" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group form-group-default">
										<label>Ministro responsável</label>
										<select ui-select2="{allowClear:'true'}" id="ministro" ng-model="ministro" class="full-width">
											<option value=""></option>
											<option ng-repeat="ministro in ministros" value="{{ministro.codigo}}">{{ministro.nome}} ({{ministro.codigo}})</option>
										</select>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group form-group-default">
										<label>Parte</label>
										<pesquisa id="pessoa" modelo="pessoa" configuracao="pesquisaPessoa" class="full-width" />
									</div>
								</div>
							</div>
							<br />
							<p>
								<input type="submit" id="botaoPesquisar" class="btn btn-complete btn-cons m-t-10" value="Pesquisar" />
							</p>
						</form>
					</div>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="panel panel-default widget-11-2">
					<div class="panel-heading">
						<div class="panel-title">Resultados</div>
					</div>
					<div class="auto-overflow" ng-class="(resultados.length > 0) ? 'widget-11-2-table' : ''">
						<div class="panel-body">	
							<table class="table table-responsive table-hover table-condensed">
								<thead>
									<tr>
										<th>Classe</th>
										<th>Número</th>
										<th>Ações</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-if="resultados.length == 0">
										<td colspan="3">Nenhum resultado disponível!</td>
									</tr>
									<tr ng-repeat="resultado in resultados">
										<td>{{resultado.objeto.classe.sigla}}</td>
										<td>{{resultado.objeto.numero}}</td>
										<td><a ui-sref="processos({processoId: resultado.id})" title="Visualizar"><i class="fa fa-eye" /></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
