<div class="content" ng-controller="DetalhePeticaoController as detalhe">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Detalhe da Petição</p>
					</li>
					<li><a href="#" id="subtitulo" class="active">Detalhes</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<div class="row">
			<div class="col-md-6" ng-show="detalhe.peticao.classe.length" >
				<div class="card share" data-social="item" style="width: 100%">
					<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
					<div class="card-header clearfix ">
						<h5>Classe</h5>
					</div>
					<div class="card-description">
						<h6  class="font-montserrat">Classe Processual: <strong>{{detalhe.peticao.classe}}</strong></h6>
					</div>
				</div>
		    </div>
		    <div class="col-md-6">
			    <div class="card share" data-social="item" style="width: 100%">
					<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
					<div class="card-header clearfix ">
						<h5>Número da Petição</h5>
					</div>
					<div class="card-description">
						 <h6  class="font-montserrat" >Número da Petição: <strong>{{detalhe.peticao.id}}</strong></h6>
					</div>
				</div>
		    </div>
		</div>
		<div class="row" ng-show="detalhe.peticao.partes['Polo Ativo'].length || detalhe.peticao.partes['Polo Passivo'].length"">
			<div class="col-md-6" ng-show="detalhe.peticao.partes['Polo Ativo'].length">
				<div class="card share" data-social="item" style="width: 100%">
					<div class="circle" data-toggle="tooltip" title=""
						data-container="body" data-original-title="Label"></div>
					<div class="card-header clearfix">
						<h5>Partes do Polo Ativo</h5>
					</div>
					<div class="card-description">
						<div class="auto-overflow widget-11-2-table">
							<table class="table table-condensed table-hover" >
								<tbody>
									<tr ng-repeat="parte in detalhe.peticao.partes['Polo Ativo']">
										<td class="font-montserrat fs-12 col-lg-12">{{parte}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
            <div class="col-md-6" ng-show="detalhe.peticao.partes['Polo Passivo'].length">
	            <div class="card share" data-social="item" style="width: 100%">
	                <div class="circle" data-toggle="tooltip" title=""
	                    data-container="body" data-original-title="Label"></div>
	                <div class="card-header clearfix">
	                    <h5>Partes do Polo Passivo</h5>
	            	</div>
	                <div class="card-description">
	                    <div class="auto-overflow widget-11-2-table">
	                        <table class="table table-condensed table-hover">
	                            <tbody>
	                                <tr ng-repeat="parte in detalhe.peticao.partes['Polo Passivo']">
	                                    <td class="font-montserrat fs-12 col-lg-12">{{parte}}</td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
		            </div>
           		</div>
            </div>
		</div>
		<div class="row">
			<div class="col-md-6" ng-show="detalhe.peticao.volumes != null">
				<div class="card share" data-social="item" style="width: 100%">
					<div class="circle" data-toggle="tooltip" title=""
						data-container="body" data-original-title="Label"></div>
					<div class="card-header clearfix">
						<h5>Quantidade de volumes</h5>
					</div>
					<div class="card-description">
						<h6>Quantidade de Volumes: <strong>{{detalhe.peticao.volumes}}</strong></h6>
					</div>
				</div>
			</div>
               <div class="col-md-6" ng-show="detalhe.peticao.apensos != null">
                   <div class="card share" data-social="item" style="width: 100%">
                       <div class="circle" data-toggle="tooltip" title=""
                           data-container="body" data-original-title="Label"></div>
                       <div class="card-header clearfix">
                           <h5>Quantidade de Apensos</h5>
                       </div>
                       <div class="card-description">
                       	<h6>Quantidade de Apensos: <strong>{{detalhe.peticao.apensos}}</strong></h6>
                       </div>
                   </div>
               </div>
		</div>
			
		<div class="row">
			<div class="col-md-6" ng-show="detalhe.peticao.formaRecebimento.length">
				<div class="card share" data-social="item" style="width: 100%">
					<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
					<div class="card-header clearfix ">
						<h5>Forma de Envio</h5>
					</div>
					<div class="card-description">
						<h6>Forma de Recebimento: <strong>{{detalhe.peticao.formaRecebimento}}</strong></h6>
					</div>
				</div>
			</div>
            <div class="col-md-6" ng-show="detalhe.peticao.numeroSedex.length">
                <div class="card share" data-social="item" style="width: 100%">
                     <div class="circle" data-toggle="tooltip" title=""
                         data-container="body" data-original-title="Label"></div>
                     <div class="card-header clearfix">
                         <h5>Número do Sedex</h5>
                     </div>
                     <div class="card-description">
                     	<h6>Número do Sedex: <strong>{{detalhe.peticao.numeroSedex}}</strong></h6>
                     </div>
                 </div>
            </div>
		</div>
		<div class="row" ng-show="detalhe.peticao.pecas.length">
			<div class="col-md-12">
				<div class="card share" data-social="item" style="width: 100%">
	                <div class="circle" data-toggle="tooltip" title=""
	                    data-container="body" data-original-title="Label"></div>
	                <div class="card-header clearfix">
	                    <h5>Peças da Petição</h5>
	            	</div>
	                <div class="card-description">
	                    <div class="auto-overflow widget-11-2-table">
	                        <table class="table table-condensed table-hover">
   		                        <thead>
		                            <tr>
		                                <th width="50%">Título</th>
		                                <th width="40%">Tipo de Peça</th>
		                                <th width="10%">Arquivo</th>
		                            </tr>
		                        </thead>
	                            <tbody>
	                                <tr ng-repeat="peca in detalhe.peticao.pecas">
	                                    <td class="font-montserrat fs-12 col-lg-12">{{peca.descricao}}</td>
	                                    <td class="font-montserrat fs-12 col-lg-12">{{peca.tipo}}</td>
	                                    <td class="font-montserrat fs-12 col-lg-12"></td>
	                                </tr>
	                            </tbody>
	                        </table>
	                    </div>
		            </div>
           		</div>
			</div>
		
		</div>
		<br />
 		<p>
 			<button class="btn btn-complete btn-cons" onClick="location.href='dashboard'">Voltar</button>
		</p>	
	</div>
</div>