<div class="content">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Petições Digitais</p>
					</li>
					<li><a href="#" id="subtitulo" class="active">Peticionamento</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
		<form id="taskForm" ng-submit="finalizar()" novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Classificação da Petição</h5>
							<h6>Qual Classe Processual você<strong> sugere </strong> para sua petição?</h6>
						</div>
						<div class="card-description">
							<select ui-select2 id="classe" ng-model="classe" data-placeholder="Selecione a Classe Sugerida" style="width: 450px;" autofocus>
								<option value=""></option>
								<option ng-repeat="classe in classes" value="{{classe.sigla}}">{{classe.nome}} ({{classe.sigla}})</option>
							</select>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Classificação de Órgãos</h5>
							<h6>Qual órgão você<strong> representa </strong>?</h6>
						</div>
						<div class="card-description">
							<select ui-select2 id="orgao" ng-model="orgao" data-placeholder="Selecione o Órgão Sugerido" style="width: 450px;" autofocus>
								<option value=""></option>
								<option ng-repeat="orgao in orgaos" value="{{orgao.id}}">{{orgao.nome}} ({{orgao.id}})</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title=""
							data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix">
							<h5>Partes do Polo Ativo</h5>
							<h6>Quem são os envolvidos no polo ativo? Quais as partes do polo ativo para sua petição?</h6>
						</div>
						<div class="card-description">
							<div class="auto-overflow widget-11-2-table">
								<table class="table table-condensed table-hover" ng-show="partesPoloAtivo.length">
									<tbody>
										<tr ng-repeat="parte in partesPoloAtivo">
											<td class="font-montserrat fs-12 col-lg-12">{{parte.text}}</td>
											<td class="text-center b-l b-dashed b-grey col-lg-2"><span class="hint-text small"><a href="#" ng-click="removerPoloAtivo(parte)">Remover</a></span></td>
										</tr>
									</tbody>
								</table>
							</div>
							<ng-form name="partesPoloAtivoForm"> 
                                <input type="text" id="partePoloAtivo" name="partePoloAtivo" ng-model="partePoloAtivo" size="30" placeholder="Nome da Parte" autofocus> 
                                <input type="submit" id="botaoAdicionarPartePoloAtivo" value="Adicionar" ng-if="partePoloAtivo.length > 0" ng-click="adicionarPoloAtivo()"> 
                            </ng-form>
						</div>
					</div>
				</div>
                <div class="col-md-6">
                    <div class="card share" data-social="item" style="width: 100%">
                        <div class="circle" data-toggle="tooltip" title=""
                            data-container="body" data-original-title="Label"></div>
                        <div class="card-header clearfix">
                            <h5>Partes do Polo Passivo</h5>
                            <h6>Quem são os envolvidos no polo passivo? Quais as partes do polo passivo para sua petição?</h6>
                        </div>
                        <div class="card-description">
                            <div class="auto-overflow widget-11-2-table">
                                <table class="table table-condensed table-hover" ng-show="partesPoloPassivo.length">
                                    <tbody>
                                        <tr ng-repeat="parte in partesPoloPassivo">
                                            <td class="font-montserrat fs-12 col-lg-12">{{parte.text}}</td>
                                            <td class="text-center b-l b-dashed b-grey col-lg-2"><span class="hint-text small"><a href="#" ng-click="removerPoloPassivo(parte)">Remover</a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-form name="partesPoloPassivoForm"> 
                                <input type="text" id="partePoloPassivo" name="partePoloPassivo" ng-model="partePoloPassivo" size="30" placeholder="Nome da Parte" autofocus> 
                                <input type="submit" id="botaoAdicionarPartePoloPassivo" value="Adicionar" ng-if="partePoloPassivo.length > 0" ng-click="adicionarPoloPassivo()"> 
                            </ng-form>
                        </div>
                    </div>
                </div>
			</div>
			<div class="row">
				<div class="col-md-3">
					 <div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Inclusão de Documentos</h5>
						</div>
						<div class="card-description">
		                    <div nv-file-drop="" uploader="uploader">
	                            <div nv-file-over="" uploader="uploader" over-class="another-file-over-class" class="force-pointer" data-ng-class="uploader.isHTML5 ? 'my-drop-zone' : 'my-drop-zone-single'" onclick="$('#idSelectFilePecas').click();">
	                            </div>
                        	</div>
		                    <input  id="idSelectFilePecas" type="file" name="file" nv-file-select="" uploader="uploader" multiple  ng-class="uploader.isHTML5 ? 'invisible' : ''"/><br/>
	              		</div>
	              	</div>
				</div>
		        <div class="col-md-9" style="margin-bottom: 40px">
			        <div class="card share" data-social="item" style="width: 100%">
						<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
						<div class="card-header clearfix ">
							<h5>Lista de documentos</h5>
							<h6>Quantidade de documentos incluídos: {{ uploader.queue.length }}.</h6>
						</div>
						<div class="card-description">
		                    <table class="table">
		                        <thead>
		                            <tr>
		                                <th width="50%">Título</th>
		                                <th ng-show="uploader.isHTML5">Tamanho</th>
		                                <th ng-show="uploader.isHTML5">Progresso</th>
		                                <th>Tipo de Peça</th>
		                                <th>Ações</th>
		                            </tr>
		                        </thead>
		                        <tbody>
		                            <tr ng-repeat="peca in pecas">
		                            	<td data-ng-click="visualizar(peca)" class="force-pointer"><strong>{{ peca.fileItem.file.name }}</strong></td>
		                                <td ng-show="uploader.isHTML5" nowrap>{{ peca.fileItem.file.size/1024/1024|number:2 }} MB</td>
		                                <td ng-show="uploader.isHTML5">
		                                    <div class="progress" style="margin-bottom: 0;">
		                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': peca.fileItem.progress + '%' }"></div>
		                                    </div>
		                                </td>
		                                <td>
		                                    <select required id="tipoPecaId" ng-model="peca.tipo" style="max-width: 110px; min-width: 110px;" ui-select2="configurarSelect2({{$index}})">
												 <option value=""></option>
												 <option data-ng-repeat="tipoPeca in tiposPeca" value="{{tipoPeca.id}}">{{tipoPeca.descricao}}</option>
											</select>
		                                </td>
		                                <td nowrap>
		                                    <a  ng-click="visualizar(peca)" data-placement="top" ng-disabled="!peca.fileItem.isUploading">
		                                       	<i class="glyphicon glyphicon-eye-open"></i>
		                                    </a>
		                                    <a title="Remover Peca" data-placement="top" ng-click="remover(peca,true)" class="close">
		                                        <span class="glyphicon glyphicon-trash"></span>
		                                    </a>
		                                </td>
		                            </tr>
		                        </tbody>
		                    </table>
		                    <div>
		                        <button type="button" class="btn btn-danger btn-s" ng-click="limparPecas()" ng-disabled="!uploader.queue.length">
		                            <span class="glyphicon glyphicon-trash"></span> Apagar tudo
		                        </button>
		                    </div>
		                </div>
					</div>
             	</div>
            </div>
			<br />

			<p>
				<input id="botaoPeticionar" class="btn btn-complete btn-cons m-t-10" type="submit" value="Enviar">
			</p>
		</form>
	</div>
</div>
