doctype html
html(lang="en", ng-app="stfdigitaldemo")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    // Remove Tap Highlight on Windows Phone IE
    meta(name='msapplication-tap-highlight', content='no')
    
    link(rel='icon', type='image/png', href='../assets/img/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='../assets/img/favicon-32x32.png', sizes='32x32')
    
    title Minhas Tarefas - STF Digital :: Styleguide v.1.0.0
    
    // build:css assets/css/main.css
    // uikit
    link(rel='stylesheet', href='../bower_components/uikit/css/uikit.almost-flat.min.css', media='all')
    // altair admin
    link(rel='stylesheet', href='../assets/less/main.css', media='all')
    link(rel='stylesheet', href='../assets/sass/main.css', media='all')
    // endbuild

    // matchMedia polyfill for testing media queries in JS
    //if lte IE 9
      script(type='text/javascript', src='../bower_components/matchMedia/matchMedia.js')
      script(type='text/javascript', src='../bower_components/matchMedia/matchMedia.addListener.js')
    //endif

  body.sidebar_main_open.sidebar_main_swipe
    // main header
    - var esconderNotificacoes = true
    include ./partials/header.jade

    // main sidebar
    include ./partials/sidebar.jade

    #top_bar
      .md-top-bar
        .uk-container-center
          .uk-clearfix.stf-text-uppercase.uk-text-bold#stf-breadcrumbs
            span.uk-margin-small-right.uk-text-middle.uk-display-inline-block Dashboards
            span.uk-margin-small-right.uk-text-middle.uk-display-inline-block /
            span.uk-text-small.uk-text-middle.uk-display-inline-block: a Dashboard Padrão

    #page_content
      #page_content_inner
        #mailbox.md-card-list-wrapper
          .uk-width-large-8-10.uk-container-center
            .md-card-list
              .md-card-list-header.heading_list Hoje
              ul.hierarchical_slide
                li.md-card-list-item.stf-card-list-item(ng-controller="Autuacao")
                  span.md-card-list-item-date 14:42
                  
                  .md-card-list-item-select
                    input(type='checkbox', data-md-icheck='')

                  .md-card-list-item-sender
                     span.md-card-list-item-closed Pet. 32/2015
                  
                  .md-card-list-item-subject
                    span.md-card-list-item-closed
                      span.uk-badge Aguardando Distribuição
                      span.uk-margin-left ADI, Recebido por FAX, 16 Volumes, 1 Apenso
                    span.md-card-list-item-open
                      h3.uk-margin-small-top.uk-margin-bottom-remove Petição 32/2015 - Aguardando Distribuição
                  hr.md-card-list-item-open

                  .md-card-list-item-content-wrapper
                    form.uk-form-stacked
                      .md-card-content.large-padding
                        .uk-grid(data-uk-grid-margin='')
                          .uk-width-1-1.uk-width-large-2-3
                            .z-depth-1.stf-padding
                              label.uk-form-label(for='selecionar-relator') Selecionar Relator
                              select.selectize-dropdown-below.selecionar-relator.uk-margin-bottom(name='selecionar-relator', ng-model="relator")

                          .uk-width-1-1.uk-width-large-1-3
                            .card-processo
                              .uk-grid
                                .uk-width-1-2.card-processo-titulo
                                  span Petição
                                  h2 34/2015
                                .uk-width-1-2.card-processo-resumo
                                  span 16 Volumes
                                  br
                                  span 1 Apenso

                              .card-processo-grid
                                .card-processo-grid-titulo Classe Sugerida
                                .card-processo-grid-descricao AÇÃO DIRETA DE INCONSTITUCIONALIDADE  
                                .card-processo-grid-titulo Partes
                                .card-processo-grid-descricao 
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right Manoel Santos
                                    span.uk-badge.uk-badge-warning.uk-margin-small-top.uk-margin-small-right Ana Duarte
                                div(ng-if="relator")
                                  .card-processo-grid-titulo Relator
                                  .card-processo-grid-descricao {{relator}}
                                div(ng-if="!relator")
                                  .card-processo-grid-item-vazio Relator não selecionado ainda

                        .uk-width-1-1.uk-text-center.uk-margin-top
                          a.md-btn.md-btn-success.uk-margin-small-bottom(href='distribuidor-3.html') Distribuir Petição

                li.md-card-list-item.stf-card-list-item(ng-controller="Autuacao")
                  span.md-card-list-item-date 12:15
                  
                  .md-card-list-item-select
                    input(type='checkbox', data-md-icheck='')

                  .md-card-list-item-sender
                     span.md-card-list-item-closed Pet. 22/2015
                  
                  .md-card-list-item-subject
                    span.md-card-list-item-closed
                      span.uk-badge Aguardando Distribuição
                      span.uk-margin-left ADC
                    span.md-card-list-item-open
                      h3.uk-margin-small-top.uk-margin-bottom-remove Petição 22/2015 - Aguardando Distribuição
                  hr.md-card-list-item-open

                  .md-card-list-item-content-wrapper
                    form.uk-form-stacked
                      .md-card-content.large-padding
                        .uk-grid(data-uk-grid-margin='')
                          .uk-width-1-1.uk-width-large-2-3
                            .z-depth-1.stf-padding
                              label.uk-form-label(for='selecionar-relator') Selecionar Relator
                              select.selectize-dropdown-below.selecionar-relator.uk-margin-bottom(name='selecionar-relator', ng-model="relator")

                          .uk-width-1-1.uk-width-large-1-3
                            .card-processo
                              .uk-grid
                                .uk-width-1-1.card-processo-titulo
                                  span Petição
                                  h2 22/2015

                              .card-processo-grid
                                .card-processo-grid-titulo Classe Sugerida
                                .card-processo-grid-descricao AÇÃO DECLARATÓRIA DE CONSTITUCIONALIDADE
                                .card-processo-grid-titulo Partes
                                .card-processo-grid-descricao 
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right Lucas Barroso
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right André dos Santos
                                    span.uk-badge.uk-badge-warning.uk-margin-small-top.uk-margin-small-right Júlia Mendes
                                div(ng-if="relator")
                                  .card-processo-grid-titulo Relator
                                  .card-processo-grid-descricao {{relator}}
                                div(ng-if="!relator")
                                  .card-processo-grid-item-vazio Relator não selecionado ainda

                        .uk-width-1-1.uk-text-center.uk-margin-top
                          a.md-btn.md-btn-success.uk-margin-small-bottom(href='distribuidor-3.html') Distribuir Petição

            .md-card-list
              .md-card-list-header.heading_list Ontem
              ul.hierarchical_slide
                li.md-card-list-item.stf-card-list-item(ng-controller="Autuacao")
                  span.md-card-list-item-date 11:28
                  
                  .md-card-list-item-select
                    input(type='checkbox', data-md-icheck='')

                  .md-card-list-item-sender
                     span.md-card-list-item-closed Pet. 29/2015
                  
                  .md-card-list-item-subject
                    span.md-card-list-item-closed
                      span.uk-badge Aguardando Distribuição
                      span.uk-margin-left HD, Recebido por Correio, 19 Volumes, 4 Apensos
                    span.md-card-list-item-open
                      h3.uk-margin-small-top.uk-margin-bottom-remove Petição 29/2015 - Aguardando Distribuição
                  hr.md-card-list-item-open

                  .md-card-list-item-content-wrapper
                    form.uk-form-stacked
                      .md-card-content.large-padding
                        .uk-grid(data-uk-grid-margin='')
                          .uk-width-1-1.uk-width-large-2-3
                            .z-depth-1.stf-padding
                              label.uk-form-label(for='selecionar-relator') Selecionar Relator
                              select.selectize-dropdown-below.selecionar-relator.uk-margin-bottom(name='selecionar-relator', ng-model="relator")

                          .uk-width-1-1.uk-width-large-1-3
                            .card-processo
                              .uk-grid
                                .uk-width-1-2.card-processo-titulo
                                  span Petição
                                  h2 29/2015
                                .uk-width-1-2.card-processo-resumo
                                  span 19 Volumes
                                  br
                                  span 4 Apensos

                              .card-processo-grid
                                .card-processo-grid-titulo Classe
                                .card-processo-grid-descricao HABEAS DATA
                                .card-processo-grid-titulo Partes
                                .card-processo-grid-descricao 
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right Matheus Alves
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right Arthur Müller
                                    span.uk-badge.uk-badge-warning.uk-margin-small-top.uk-margin-small-right Maurício Ruas
                                div(ng-if="relator")
                                  .card-processo-grid-titulo Relator
                                  .card-processo-grid-descricao {{relator}}
                                div(ng-if="!relator")
                                  .card-processo-grid-item-vazio Relator não selecionado ainda

                        .uk-width-1-1.uk-text-center.uk-margin-top
                          a.md-btn.md-btn-success.uk-margin-small-bottom(href='distribuidor-3.html') Distribuir Petição

                li.md-card-list-item.stf-card-list-item(ng-controller="Autuacao")
                  span.md-card-list-item-date 07:20
                  
                  .md-card-list-item-select
                    input(type='checkbox', data-md-icheck='')

                  .md-card-list-item-sender
                     span.md-card-list-item-closed Pet. 20/2015
                  
                  .md-card-list-item-subject
                    span.md-card-list-item-closed
                      span.uk-badge Aguardando Distribuição
                      span.uk-margin-left MS
                    span.md-card-list-item-open
                      h3.uk-margin-small-top.uk-margin-bottom-remove Petição 20/2015 - Aguardando Distribuição
                  hr.md-card-list-item-open

                  .md-card-list-item-content-wrapper
                    form.uk-form-stacked
                      .md-card-content.large-padding
                        .uk-grid(data-uk-grid-margin='')
                          .uk-width-1-1.uk-width-large-2-3
                            .z-depth-1.stf-padding
                              label.uk-form-label(for='selecionar-relator') Selecionar Relator
                              select.selectize-dropdown-below.selecionar-relator.uk-margin-bottom(name='selecionar-relator', ng-model="relator")

                          .uk-width-1-1.uk-width-large-1-3
                            .card-processo
                              .uk-grid
                                .uk-width-1-1.card-processo-titulo
                                  span Petição
                                  h2 20/2015

                              .card-processo-grid
                                .card-processo-grid-titulo Classe Sugerida
                                .card-processo-grid-descricao MANDADO DE SEGURANÇA
                                .card-processo-grid-titulo Partes
                                .card-processo-grid-descricao 
                                    span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right André Barroso
                                    span.uk-badge.uk-badge-warning.uk-margin-small-top.uk-margin-small-right Lucas dos Santos
                                div(ng-if="relator")
                                  .card-processo-grid-titulo Relator
                                  .card-processo-grid-descricao {{relator}}
                                div(ng-if="!relator")
                                  .card-processo-grid-item-vazio Relator não selecionado ainda

                        .uk-width-1-1.uk-text-center.uk-margin-top
                          a.md-btn.md-btn-success.uk-margin-small-bottom(href='distribuidor-3.html') Distribuir Petição

    // google web fonts
    script.
      WebFontConfig = {
        google: {
          families: [
            'Source+Code+Pro:400,700:latin',
            'Roboto:400,300,500,700,400italic:latin'
          ]
        }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    // build:js assets/js/all.js 
    // common functions
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/modernizr/modernizr.js')
    // moment
    script(src='../bower_components/moment/moment.js')
    // retina images
    script(src='../bower_components/dense/src/dense.js')
    // fastclick (touch devices)
    script(src='../bower_components/fastclick/lib/fastclick.js')
    // custom scrollbar
    script(src='../bower_components/jquery.scrollbar/jquery.scrollbar.js')
    // create easing functions from cubic-bezier co-ordinates
    script(src='../bower_components/jquery-bez/jquery.bez.min.js')
    // Get the actual width/height of invisible DOM elements with jQuery
    script(src='../bower_components/jquery.actual/jquery.actual.js')
    // waypoints
    script(src='../bower_components/waypoints/lib/jquery.waypoints.js')
    // velocityjs (animation)
    script(src='../bower_components/velocity/velocity.js')
    script(src='../bower_components/velocity/velocity.ui.js')
    // iCheck -- Cria checkboxes similares às do iOS
    script(src='../bower_components/jquery-icheck/icheck.js')
    // selectize -- Caixas de seleção avançadas
    script(src='../bower_components/selectize/dist/js/standalone/selectize.js')
    // textarea-autosize
    script(src='../bower_components/autosize/dist/autosize.js')
    // altair common functions/helpers
    script(src='../assets/js/altair_admin_common.js')
    // mailbox functions
    script(src='../assets/js/pages/page_mailbox.js')
    // ionrangeslider
    script(src='../bower_components/ionrangeslider/js/ion.rangeSlider.js')
    // forms advanced functions
    script(src='../assets/js/pages/forms_advanced.js')

    //=============================================================================================
    // UIKIT
    //=============================================================================================

    script(src='../bower_components/uikit/js/uikit.js')
    //uikit components
    script(src='../bower_components/uikit/js/components/autocomplete.js')
    script(src='../assets/js/custom/uikit_datepicker.js')
    script(src='../assets/js/custom/uikit_timepicker.js')
    script(src='../bower_components/uikit/js/components/upload.js')
    script(src='../assets/js/custom/uikit_beforeready.js')

    //=============================================================================================
    // ANGULAR
    //=============================================================================================
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')

    // endbuild

    script.
      // Angular
        angular.module('stfdigitaldemo', [])
          .controller('Autuacao', function($scope) {
            $scope.classeProcesso = null;
            $scope.partes = null;
            $scope.anexos = null;
            $scope.comentarios = null;
            $scope.peticoes = null;

            $scope.adicionarParteAtiva = function() {
              if (!$scope.parteAtiva || $scope.parteAtiva.length == 0)
                return;

              if ($scope.partes == null)
                $scope.partes = {ativas: [], passivas: []}

              $scope.partes.ativas.push($scope.parteAtiva);
              $scope.parteAtiva = '';
            }

            $scope.adicionarPartePassiva = function() {
              if (!$scope.partePassiva || $scope.partePassiva.length == 0)
                return;

              if ($scope.partes == null)
                $scope.partes = {ativas: [], passivas: []}

              $scope.partes.passivas.push($scope.partePassiva);
              $scope.partePassiva = '';
            }

            $scope.removerParteAtiva = function(indice) {
              if ($scope.partes == null)
                return;

              $scope.partes.ativas.splice(indice, 1)
              if ($scope.partes.ativas.length + $scope.partes.passivas.length == 0)
                $scope.partes = null;
            }

            $scope.removerPartePassiva = function(indice) {
              if ($scope.partes == null)
                return;

              $scope.partes.passivas.splice(indice, 1)
              if ($scope.partes.ativas.length + $scope.partes.passivas.length == 0)
                $scope.partes = null;
            }

            $scope.adicionarArquivo = function(arquivo) {
              if ($scope.anexos == null)
                $scope.anexos = [];

              $scope.anexos.push(arquivo.name);
            }

            $scope.adicionarComentario = function() {
              if ($scope.textoComentario.length == 0)
                return;

              if ($scope.comentarios == null)
                $scope.comentarios = [];              

              $scope.comentarios.push({
                avatar: '../assets/img/avatars/leandro.png',
                texto: $scope.textoComentario  
              });

              $scope.textoComentario = "";
            }
          });

      $(function() {
        // enable hires images
        altair_helpers.retina_images();
        // fastClick (touch devices)
        if(Modernizr.touch) {
            FastClick.attach(document.body);
        }

        $(".selecionar-relator").selectize({
            persist: false,
            maxItems: 1,
            valueField: 'nome',
            labelField: 'nome',
            searchField: ['nome'],
            options: [
              {nome: 'Ricardo Lewandowski'},
              {nome: 'Cármen Lúcia'},
              {nome: 'Celso de Mello'},
              {nome: 'Marco Aurélio'},
              {nome: 'Gilmar Mendes'},
              {nome: 'Dias Toffoli'},
              {nome: 'Luiz Fux'},
              {nome: 'Rosa Weber'},
              {nome: 'Teori Zavascki'},
              {nome: 'Roberto Barroso'},
              {nome: 'Edson Fachin'}
            ],
            render: {
              item: function(item, escape) {
                return '<div><span class="selecionar-relator">' + escape(item.nome) + '</span></div>';
              },
              option: function(item, escape) {
                return '<div><span class="selecionar-relator">' + escape(item.nome) + '</span></div>';
              }
            }
          });
      });