doctype html
html(lang="en", ng-app="stfdigitaldemo")
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    
    // Remove Tap Highlight on Windows Phone IE
    meta(name='msapplication-tap-highlight', content='no')
    
    link(rel='icon', type='image/png', href='../assets/img/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='../assets/img/favicon-32x32.png', sizes='32x32')
    
    title Minhas Tarefas - STF Digital :: Styleguide v.1.0.0
    
    // build:css assets/css/main.css
    // uikit
    link(rel='stylesheet', href='../bower_components/uikit/css/uikit.almost-flat.min.css', media='all')
    // altair admin
    link(rel='stylesheet', href='../assets/less/main.css', media='all')
    link(rel='stylesheet', href='../assets/sass/main.css', media='all')
    // endbuild

    // matchMedia polyfill for testing media queries in JS
    //if lte IE 9
      script(type='text/javascript', src='../bower_components/matchMedia/matchMedia.js')
      script(type='text/javascript', src='../bower_components/matchMedia/matchMedia.addListener.js')
    //endif

  body.sidebar_main_open.sidebar_main_swipe
    // main header
    - var esconderNotificacoes = true
    include ./partials/header.jade

    // main sidebar
    include ./partials/sidebar.jade

    #top_bar
      .md-top-bar
        .uk-container-center
          .uk-clearfix.stf-text-uppercase.uk-text-bold#stf-breadcrumbs
            span.uk-margin-small-right.uk-text-middle.uk-display-inline-block Dashboards
            span.uk-margin-small-right.uk-text-middle.uk-display-inline-block /
            span.uk-text-small.uk-text-middle.uk-display-inline-block: a Dashboard Padrão

    #page_content
      #page_content_inner
        #mailbox.md-card-list-wrapper
          .uk-width-large-8-10.uk-container-center
            .uk-text-center
              h1.text-light Parabéns!
              h2.text-light Você está em dia com todas as suas tarefas! É hora de tomar um café!
              img(src='../assets/img/common/cafe.png')

    // google web fonts
    script.
      WebFontConfig = {
        google: {
          families: [
            'Source+Code+Pro:400,700:latin',
            'Roboto:400,300,500,700,400italic:latin'
          ]
        }
      };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();

    // build:js assets/js/all.js 
    // common functions
    script(src='../bower_components/jquery/dist/jquery.js')
    script(src='../bower_components/modernizr/modernizr.js')
    // moment
    script(src='../bower_components/moment/moment.js')
    // retina images
    script(src='../bower_components/dense/src/dense.js')
    // fastclick (touch devices)
    script(src='../bower_components/fastclick/lib/fastclick.js')
    // custom scrollbar
    script(src='../bower_components/jquery.scrollbar/jquery.scrollbar.js')
    // create easing functions from cubic-bezier co-ordinates
    script(src='../bower_components/jquery-bez/jquery.bez.min.js')
    // Get the actual width/height of invisible DOM elements with jQuery
    script(src='../bower_components/jquery.actual/jquery.actual.js')
    // waypoints
    script(src='../bower_components/waypoints/lib/jquery.waypoints.js')
    // velocityjs (animation)
    script(src='../bower_components/velocity/velocity.js')
    script(src='../bower_components/velocity/velocity.ui.js')
    // iCheck -- Cria checkboxes similares às do iOS
    script(src='../bower_components/jquery-icheck/icheck.js')
    // selectize -- Caixas de seleção avançadas
    script(src='../bower_components/selectize/dist/js/standalone/selectize.js')
    // textarea-autosize
    script(src='../bower_components/autosize/dist/autosize.js')
    // altair common functions/helpers
    script(src='../assets/js/altair_admin_common.js')
    // mailbox functions
    script(src='../assets/js/pages/page_mailbox.js')
    // ionrangeslider
    script(src='../bower_components/ionrangeslider/js/ion.rangeSlider.js')
    // forms advanced functions
    script(src='../assets/js/pages/forms_advanced.js')

    //=============================================================================================
    // UIKIT
    //=============================================================================================

    script(src='../bower_components/uikit/js/uikit.js')
    //uikit components
    script(src='../bower_components/uikit/js/components/autocomplete.js')
    script(src='../assets/js/custom/uikit_datepicker.js')
    script(src='../assets/js/custom/uikit_timepicker.js')
    script(src='../bower_components/uikit/js/components/upload.js')
    script(src='../assets/js/custom/uikit_beforeready.js')

    //=============================================================================================
    // ANGULAR
    //=============================================================================================
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')

    // endbuild

    script.
      // Angular
        angular.module('stfdigitaldemo', [])
          .controller('PreAutuarProcesso', function($scope) {
            $scope.quantidade_de_volumes = null;
            $scope.forma_de_recebimento = null;
            $scope.quantidade_de_apensos = null;
            $scope.identificação_da_correspondencia = null;
            $scope.comentarios = null;

            $scope.adicionarComentario = function() {
              if ($scope.textoComentario.length == 0)
                return;

              if ($scope.comentarios == null)
                $scope.comentarios = [];              

              $scope.comentarios.push({
                avatar: '../assets/img/avatars/leandro.png',
                texto: $scope.textoComentario  
              });

              $scope.textoComentario = "";
            }
          });

      $(function() {
        // enable hires images
        altair_helpers.retina_images();
        // fastClick (touch devices)
        if(Modernizr.touch) {
            FastClick.attach(document.body);
        }

        $(".classe-processo").selectize({
          persist: false,
          maxItems: 1,
          valueField: 'nome',
          labelField: 'nome',
          searchField: ['sigla', 'nome'],
          options: [
            {sigla: 'AC',   nome: 'AÇÃO CAUTELAR'},
            {sigla: 'ACO',  nome: 'AÇÃO CÍVEL ORIGINÁRIA'},
            {sigla: 'ADC',  nome: 'AÇÃO DECLARATÓRIA DE CONSTITUCIONALIDADE'},
            {sigla: 'ADI',  nome: 'AÇÃO DIRETA DE INCONSTITUCIONALIDADE'},
            {sigla: 'ADO',  nome: 'AÇÃO DIRETA DE INCONSTITUCIONALIDADE POR OMISSÃO'},
            {sigla: 'ADPF', nome: 'ARGÜIÇÃO DE DESCUMPRIMENTO DE PRECEITO FUNDAMENTAL'},
            {sigla: 'AI',   nome: 'AGRAVO DE INSTRUMENTO'},
            {sigla: 'AImp', nome: 'ARGÜIÇÃO DE IMPEDIMENTO'},
            {sigla: 'AO',   nome: 'AÇÃO ORIGINÁRIA'},
            {sigla: 'AOE',  nome: 'AÇÃO ORIGINÁRIA ESPECIAL'},
            {sigla: 'AP',   nome: 'AÇÃO PENAL'},
            {sigla: 'AR',   nome: 'AÇÃO RESCISÓRIA'},
            {sigla: 'ARE',  nome: 'RECURSO EXTRAORDINÁRIO COM AGRAVO'},
            {sigla: 'AS',   nome: 'ARGÜIÇÃO DE SUSPEIÇÃO'},
            {sigla: 'CC',   nome: 'CONFLITO DE COMPETÊNCIA'},
            {sigla: 'Cm',   nome: 'COMUNICAÇÃO'},
            {sigla: 'EI',   nome: 'EXCEÇÃO DE INCOMPETÊNCIA'},
            {sigla: 'EL',   nome: 'EXCEÇÃO DE LITISPENDÊNCIA'},
            {sigla: 'EP',   nome: 'EXECUÇÃO PENAL'},
            {sigla: 'Ext',  nome: 'EXTRADIÇÃO'},
            {sigla: 'HC',   nome: 'HABEAS CORPUS'},
            {sigla: 'HD',   nome: 'HABEAS DATA'},
            {sigla: 'IF',   nome: 'INTERVENÇÃO FEDERAL'},
            {sigla: 'Inq',  nome: 'INQUÉRITO'},
            {sigla: 'MI',   nome: 'MANDADO DE INJUNÇÃO'},
            {sigla: 'MS',   nome: 'MANDADO DE SEGURANÇA'},
            {sigla: 'OACO', nome: 'OPOSIÇÃO EM AÇÃO CIVIL ORIGINÁRIA'},
            {sigla: 'Pet',  nome: 'PETIÇÃO'},
            {sigla: 'PPE',  nome: 'PRISÃO PREVENTIVA PARA EXTRADIÇÃO'},
            {sigla: 'PSV',  nome: 'PROPOSTA DE SÚMULA VINCULANTE'},
            {sigla: 'RC',   nome: 'RECURSO CRIME'},
            {sigla: 'Rcl',  nome: 'RECLAMAÇÃO'},
            {sigla: 'RE',   nome: 'RECURSO EXTRAORDINÁRIO'},
            {sigla: 'RHC',  nome: 'RECURSO ORDINÁRIO EM HABEAS CORPUS'},
            {sigla: 'RHD',  nome: 'RECURSO ORDINÁRIO EM HABEAS DATA'},
            {sigla: 'RMI',  nome: 'RECURSO ORDINÁRIO EM MANDADO DE INJUNÇÃO'},
            {sigla: 'RMS',  nome: 'RECURSO ORD. EM MANDADO DE SEGURANÇA'},
            {sigla: 'RvC',  nome: 'REVISÃO CRIMINAL'},
            {sigla: 'SEC',  nome: 'SENTENÇA ESTRANGEIRA CONTESTADA'},
            {sigla: 'SL',   nome: 'SUSPENSÃO DE LIMINAR'},
            {sigla: 'SS',   nome: 'SUSPENSÃO DE SEGURANÇA'},
            {sigla: 'STA',  nome: 'SUSPENSÃO DE TUTELA ANTECIPADA'},
          ],
          render: {
            item: function(item, escape) {
              return '<div><span class="processo-sigla">' + escape(item.sigla) + '</span> - <span class="processo-classe">' + escape(item.nome) + '</span></div>';
            },
            option: function(item, escape) {
              return '<div><span class="processo-sigla">' + escape(item.sigla) + '</span> - <span class="processo-classe">' + escape(item.nome) + '</span></div>';
            }
          }
        });
        

      });
