<div class="content" ng-controller="AutuacaoController as autuacao">
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<ul class="breadcrumb">
					<li>
						<p>Petições</p>
					</li>
					<li><a href="#" class="active">Autuação</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid container-fixed-lg">
            <div class="row">
                <form ng-submit="autuacao.finalizar()" novalidate>
	                <div class="col-md-6">
	                    <div class="card share" data-social="item" style="width: 100%">
	                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
	                        <div class="card-header clearfix">
	                            <h5>Classe Processual: {{autuacao.peticao.classe}}</h5>
	                            <h6>Essa é apenas a classe <strong>sugerida pelo peticionador</strong>.</h6>
	                        </div>
	                    </div>
	                    <div class="card share" data-social="item" style="width: 100%">
	                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
	                        <div class="card-header clearfix">
	                            <h5>Partes do Polo Ativo</h5>
	                            <h6>Abaixo, a lista de partes do polo ativo <strong>indicadas pelo peticionador</strong></h6>
	                        </div>
	                        <div class="card-description">
	                            <div class="auto-overflow widget-11-2-table">
	                                <table class="table table-condensed table-hover" ng-show="autuacao.peticao.partes['poloAtivo'].length">
	                                    <tbody>
	                                        <tr ng-repeat="parte in autuacao.peticao.partes['poloAtivo']">
	                                            <td class="font-montserrat fs-12 col-lg-12">{{parte}}</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="card share" data-social="item" style="width: 100%">
	                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
	                        <div class="card-header clearfix">
	                            <h5>Partes do Polo Passivo</h5>
	                            <h6>Abaixo, a lista de partes do polo passivo <strong>indicadas pelo peticionador</strong></h6>
	                        </div>
	                        <div class="card-description">
	                            <div class="auto-overflow widget-11-2-table">
	                                <table class="table table-condensed table-hover" ng-show="autuacao.peticao.partes['poloPassivo'].length">
	                                    <tbody>
	                                        <tr ng-repeat="parte in autuacao.peticao.partes['poloPassivo']">
	                                            <td class="font-montserrat fs-12 col-lg-12">{{parte}}</td>
	                                        </tr>
	                                    </tbody>
	                                </table>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-6">
	                    <div class="card share" data-social="item" style="width: 100%">
	                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
	                        <div class="card-header clearfix">
	                            <h5>Classificação</h5>
	                            <h6>Qual classe processual você<strong> sugere </strong> para sua petição?</h6>
	                        </div>
	                        <div class="card-description">
	                            <select ui-select2 id="classe" ng-model="autuacao.classe" data-placeholder="Selecione a Classe Definitiva" style="width: 450px;" autofocus>
	                                <option value=""></option>
	                                <option ng-repeat="classe in autuacao.classes" value="{{classe.sigla}}">{{classe.nome}} ({{classe.sigla}})</option>
	                            </select>
	                        </div>
	                    </div>
	                    <div class="card share" data-social="item" style="width: 100%">
	                        <div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
	                        <div class="card-header clearfix">
	                            <h5>Aptidão</h5>
	                            <h6>Informe se a petição é <b>válida ou inválida</b>.</h6>
	                        </div>
	                        <div class="card-description">
			                    <div class="radio radio-success">
			                        <input type="radio" ng-model="autuacao.valida" value="true" id="yes"> 
			                        <label for="yes">Válida</label> 
			                        <input type="radio" ng-model="autuacao.valida" value="false" id="no"> 
			                        <label for="no">Inválida</label>
			                    </div>
			                    <textarea class="form-control" id="motivo" ng-model="autuacao.motivo" ng-hide="autuacao.valida === 'true'" placeholder="Informe o motivo de inaptidão da petição." aria-invalid="false"></textarea>
	                        </div>
	                    </div>
	                </div>
		            <p>
		                <input id="botaoAutuar" class="btn btn-complete btn-cons m-l-15" type="submit" value="Autuar">
		            </p>
		        </form>
            </div>

	</div>
</div>
