.header_main_search_form
  i.md-icon.header_main_search_close.material-icons &#xE5CD;
  form.uk-form
    input.header_main_search_input(type='text')
    button.header_main_search_btn.uk-button-link
      i.md-icon.material-icons &#xE8B6;