a.user_action_image(href='#')
  img.md-user-image(src='assets/img/avatars/leandro.png', alt='')
.uk-dropdown.uk-dropdown-small.uk-dropdown-flip 
  ul.uk-nav.js-uk-prevent
    li
      a(href='page_user_profile.html') Meu perfil
    li
      a(href='page_settings.html') Configurações
    li
      a(href='login.html') Sair