form
  .uk-modal-header
    h3.uk-modal-title Peticionar novo Processo
  .uk-margin-medium-bottom
    label(for='mail_new_to') Classe do Processo
    input#mail_new_to.md-input(type='text')
  .uk-margin-large-bottom
    label(for='mail_new_message') Incluir Partes
    textarea#mail_new_message.md-input(name='mail_new_message', cols='30', rows='6')
  .uk-modal-footer
    a.md-icon-btn(href='#')
      i.md-icon.material-icons &#xE226;
    button.uk-float-right.md-btn.md-btn-flat.md-btn-flat-primary(type='button') Peticionar