/**
 * Coloque todas as customizações de estilos aqui. Em tempo de build o gulp utilizará
 * SASS para préprocessá-las e transformá-las em CSS, gerando o arquivo 
 * "/tmp/style.css"
 *
 * @author Rodrigo Barreiros
 *
 * @since 1.0.0
 * @since 06.07.2015
 * 
 * @see gulpfile.js
 */
 
body {
    /**
     * Apenas um exemplo...
     * 
     * background-color: black !important;
     */ 
}

.force-pointer {
	cursor: pointer;
}

.my-drop-zone {
	border: dotted 3px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 180px;
	background-image: url("/theme/custom/img/dropzone.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.my-drop-zone-single {
	border: dotted 1px lightgray;
	background-color: rgba(0,0,0,0.03); 
	min-height: 360px;
	background-image: url("../img/dropzone_stf_sem_arraste.png");
	background-repeat: no-repeat;
	background-position: center center;
}

.nv-file-over { 
	border: dotted 3px red; 
}

.another-file-over-class {
	border: dotted 3px green;
}

.page-container .header {
	background-color: #fff;
}