/**
 * Coloque todas as customizações de estilos aqui. Em tempo de build o gulp utilizará
 * SASS para préprocessá-las e transformá-las em CSS, gerando o arquivo 
 * "/tmp/style.css"
 *
 * @author Rodrigo Barreiros
 *
 * @since 1.0.0
 * @since 06.07.2015
 * 
 * @see gulpfile.js
 */
 
body {
    /**
     * Apenas um exemplo...
     * 
     * background-color: black !important;
     */ 
}
