<div class="col-md-12">
	<div class="card share" data-social="item" style="width: 100%">
		<div class="circle" data-toggle="tooltip" title="" data-container="body" data-original-title="Label"></div>
		<div class="card-header clearfix ">
			<h5>Classificação</h5>
			<h6>Qual Classe Processual você<strong> sugere </strong> para sua petição?</h6>
		</div>
		<div class="card-description">
			<select ui-select2 id="classe" ng-model="classe" data-placeholder="Selecione a Classe Sugerida" style="width: 450px;" autofocus>
				<option value=""></option>
				<option ng-repeat="classe in classes" value="{{classe.sigla}}">{{classe.nome}} ({{classe.sigla}})</option>
			</select>
		</div>
	</div>
</div>