.md-fab-wrapper
	a.md-fab.md-fab-accent.md-fab-actions(href="#")
		i.material-icons &#xE145;

	.md-fab-wrapper-small
		if fabNovoProcessoFisico
			a.md-fab.md-fab-small.md-bg-grey.md-color-grey-100(href="#modal-novo-processo-fisico", data-uk-modal="{center:true}")
				span N
				label.md-fab-label.md-bg-grey Registrar Novo Processo

		if fabNovoProcessoDigital
			a.md-fab.md-fab-small.md-bg-grey.md-color-grey-100(href="#modal-novo-processo-digital", data-uk-modal="{center:true}")
				span N
				label.md-fab-label.md-bg-grey Registrar Novo Processo

		if false
			a.md-fab.md-fab-small.md-bg-grey.md-color-grey-100(href="#")
				span E
				label.md-fab-label.md-bg-grey Registrar Processo Existente
			a.md-fab.md-fab-small.md-bg-grey.md-color-grey-100(href="#")
				span D
				label.md-fab-label.md-bg-grey Registrar Petição Duplicada
			a.md-fab.md-fab-small.md-bg-grey.md-color-grey-100(href="#")
				span P
				label.md-fab-label.md-bg-grey.animated.fadeInUp Registrar HC sem advogado

#modal-novo-processo-fisico.uk-modal
	.uk-modal-dialog.uk-modal-dialog-large
		include ./modal-novo-processo-fisico.jade

#modal-novo-processo-digital.uk-modal
	.uk-modal-dialog.uk-modal-dialog-large
		include ./modal-novo-processo-digital.jade