a.user_action_image(href='#')
  img.md-user-image(src='../assets/img/avatars/leandro.png', alt='')
.uk-dropdown.uk-dropdown-small.uk-dropdown-flip 
  ul.uk-nav.js-uk-prevent
    li: a(href='peticionador-1.html') Peticionador
    li: a(href='recebedor-1.html') Recebedor
    li: a(href='pre-autuador-1.html') Pré-Autuador
    li: a(href='autuador-1.html') Autuador
    li: a(href='distribuidor-1.html') Distribuidor
    