a.user_action_icon(href='#')
  i.material-icons.md-24.md-light &#xE7F4;
  span.uk-badge 16
.uk-dropdown.uk-dropdown-xlarge.uk-dropdown-flip
  .md-card-content
    ul.uk-tab.uk-tab-grid(data-uk-tab="{connect:'#header_alerts',animation:'slide-horizontal'}")
      li.uk-width-1-2.uk-active
        a.js-uk-prevent.uk-text-small(href='#') Mensagens diretas (12)
      li.uk-width-1-2
        a.js-uk-prevent.uk-text-small(href='#') Notificações (4)
    ul#header_alerts.uk-switcher.uk-margin
      li
        ul.md-list.md-list-addon
          li
            .md-list-addon-element
              span.md-user-letters.md-bg-cyan RB
            .md-list-content
              span.md-list-heading
                a(href='pages_mailbox.html') Preciso de ajuda no HC 2342.
              span.uk-text-small.uk-text-muted João, marquei o trecho que conversamos no HC 2342.
          li
            .md-list-addon-element
              img.md-user-image.md-list-addon-avatar(src='assets/img/avatars/geancarlo.png', alt='')
            .md-list-content
              span.md-list-heading
                a(href='pages_mailbox.html') Não entendi seu comentário no ADI 2342.
              span.uk-text-small.uk-text-muted Por favor explique melhor. 
          li
            .md-list-addon-element
              span.md-user-letters.md-bg-light-green te
            .md-list-content
              span.md-list-heading
                a(href='pages_mailbox.html') Devo cancelar o ARE 2342?
              span.uk-text-small.uk-text-muted João, o ARE 2342 não procedo. Vou cancelar. Alguma objeção?
        .uk-text-center.uk-margin-top.uk-margin-small-bottom
          a.md-btn.md-btn-flat.md-btn-flat-primary.js-uk-prevent(href='page_mailbox.html') Ver todos
      li
        ul.md-list.md-list-addon
          li
            .md-list-addon-element
              i.md-list-addon-icon.material-icons.uk-text-warning &#xE8B2;
            .md-list-content
              span.md-list-heading Andamento rejeitado.
              span.uk-text-small.uk-text-muted.uk-text-truncate O HC 2342 foi devolvido para você.
          li
            .md-list-addon-element
              i.md-list-addon-icon.material-icons.uk-text-success &#xE88F;
            .md-list-content
              span.md-list-heading Andamento aceito.
              span.uk-text-small.uk-text-muted.uk-text-truncate O ARE 234 foi aceito na Seção de XYZ.
          li
            .md-list-addon-element
              i.md-list-addon-icon.material-icons.uk-text-danger &#xE001;
            .md-list-content
              span.md-list-heading Andamento rejeitado.
              span.uk-text-small.uk-text-muted.uk-text-truncate O HC 234 está cmo deadline atrasado.
          li
            .md-list-addon-element
              i.md-list-addon-icon.material-icons.uk-text-primary &#xE8FD;
            .md-list-content
              span.md-list-heading Há 15 tarefas não lidas.
              span.uk-text-small.uk-text-muted.uk-text-truncate
                | Você já viuq ue há 15 tarefas atrasadas há mais de 30 dias? Clique para acessá-las.