button.uk-modal-close.uk-close.stf-close.md-color-white(type='button')

.uk-modal-header.stf-modal-header.stf-modal-header-primary
  i.material-icons.stf-modal-header-icon.uk-border-circle.uk-margin-right.z-depth-1.md-bg-grey-50.md-color-stf-primary &#xE145;
  span.stf-modal-header-subheading Peticionar
  span.stf-modal-header-heading Novo Processo Digital

form#registroNovoProcesso
  .uk-grid
    .uk-width-1-1.uk-width-large-3-5
      .z-depth-1.stf-padding
        label.uk-form-label(for='classe-processo') Sugerir uma classe
        select.selectize-dropdown-below.classe-processo(name='classe-processo', ng-model='classeProcesso')

        .z-depth-1.stf-padding.uk-margin-top
          .uk-grid
            .uk-width-1-2
              span Polo Ativo
            .uk-width-1-2
              span Polo Passivo

          .uk-grid
            .uk-width-1-2
              .uk-grid(ng-repeat="parte in partes.ativas track by $index")
                .ul-width-1-1
                  span.uk-badge.uk-badge-success.uk-margin-top 
                    | {{parte}}
                    a.uk-vertical-align-middle.uk-margin-small-left(ng-click="removerParteAtiva($index)")
                      i.material-icons.md-color-red-500 &#xE5CD;

              .uk-grid
                .ul-width-1-2
                  input.md-input(ng-model="parteAtiva")
                .ul-width-1-2
                  button.md-btn.md-btn-stf-primary.stf-btn-xsmall.uk-text-small.uk-margin-small-top(ng-click='adicionarParteAtiva()')
                    i.material-icons.md-color-grey-50 &#xE145;
            
            .uk-width-1-2
              .uk-grid(ng-repeat="parte in partes.passivas track by $index")
                .ul-width-1-1
                  span.uk-badge.uk-badge-warning.uk-margin-top 
                    | {{parte}}
                    a.uk-vertical-align-middle.uk-margin-small-left(ng-click="removerPartePassiva($index)")
                      i.material-icons.md-color-red-500 &#xE5CD;

              .uk-grid
                .ul-width-1-2
                  input.md-input(ng-model="partePassiva")
                .ul-width-1-2
                  button.md-btn.md-btn-stf-primary.stf-btn-xsmall.uk-text-small.uk-margin-small-top(ng-click='adicionarPartePassiva()')
                    i.material-icons.md-color-grey-50 &#xE145;

        .uk-width-1-1.stf-padding-top
          .uk-file-upload.md-bg-grey-200#file_upload-drop
            .uk-text Arraste e solte um arquivo para enviar
            .uk-text-muted.uk-text-small.uk-margin-small-bottom ou
            .uk-form-file.md-btn
              | Escolha um arquivo
              input#file_upload-select(type="file")

        .uk-progress.uk-hidden#file_upload-progressbar
          .uk-progress-bar(style='width:0') 0%

    .uk-width-2-5
      .card-processo(ng-class="{'card-processo-desabilitado': !(classeProcesso || partes || anexos)}")
        .uk-grid
          .uk-width-1-1.card-processo-titulo
            h2 Novo Processo

        .card-processo-grid
          div(ng-if="classeProcesso")
            .card-processo-grid-titulo Classe Sugerida
            .card-processo-grid-descricao {{classeProcesso}}
          div(ng-if="!classeProcesso")
            .card-processo-grid-item-vazio Não foi sugerida uma classe ainda

          div(ng-if="partes")
            .card-processo-grid-titulo Partes
            .card-processo-grid-descricao 
              span.uk-badge.uk-badge-success.uk-margin-small-top.uk-margin-small-right(ng-repeat="parte in partes.ativas")
                | {{parte}}

              span.uk-badge.uk-badge-warning.uk-margin-small-top.uk-margin-small-right(ng-repeat="parte in partes.passivas")
                | {{parte}}

          div(ng-if="!partes")
            .card-processo-grid-item-vazio Não foram informadas partes ainda

          div(ng-if="anexos")
            .card-processo-grid-titulo Anexos
            .card-processo-grid-descricao
              span.uk-badge.uk-margin-small-top.uk-margin-small-right(ng-repeat="anexo in anexos track by $index")
                | {{anexo}}
          div(ng-if="!anexos")
            .card-processo-grid-item-vazio Não há arquivos anexados ainda

      .uk-width-1-1.uk-text-center.uk-margin-top
        a.md-btn.md-btn-success.uk-margin-small-bottom(href="peticionador-2.html") Registrar Processo Digital

    .uk-width-1-1
      hr.stf-modal-separator
      
      span
        a(href="#") 6 pessoas 
        | comentaram isso.

      hr.stf-modal-separator

      .stf-comment-list
        .stf-comment-item.uk-flex(ng-repeat="comentario in comentarios track by $index")
          img.stf-comment-item-avatar(ng-src="{{comentario.avatar}}", alt='')
          .stf-comment-item-content.uk-flex-item-auto
            a.stf-comment-item-author(href='#') João da Silva 
            span {{comentario.texto}}

            .stf-comment-item-actions
              a(href="#") Responder
              span.uk-text-muted 
                | 9 mins ao 
                strong Peticionar

        .stf-comment-item.uk-margin-top.uk-flex
          img.stf-comment-item-avatar.stf-comment-item-avatar-large.uk-flex-item-none(src='../assets/img/avatars/leandro.png', alt='')

          .stf-comment-item-content.uk-flex-item-auto
            input.stf-comment-item-comment(name='comentario', placeholder='Escreva um comentário...', autocomplete="off", ng-model='textoComentario', ng-keyup="$event.keyCode == 13 && adicionarComentario()")

  script.
    document.onready = (function() {
      // file upload
      var files;
      var progressbar = $("#file_upload-progressbar"),
          bar         = progressbar.find('.uk-progress-bar'),
          settings    = {
            action: '/', // upload url
            method: 'GET',
            allow : '*.pdf', // allow only images

            loadstart: function() {
              bar.css("width", "0%").text("0%");
              progressbar.removeClass("uk-hidden");
            },

            progress: function(percent) {
              percent = Math.ceil(percent);
              bar.css("width", percent+"%").text(percent+"%");
            },
            before: function(settings, _files) {
              files = _files;
            },
            allcomplete: function(response) {
              bar.css("width", "100%").text("100%");

              setTimeout(function(){
                progressbar.addClass("uk-hidden");
                for (index = 0; index < files.length; index++) {
                  file = files[index];
                  
                  var scope = angular.element($("#registroNovoProcesso")).scope();
                  scope.$apply(function() {
                    scope.adicionarArquivo(file);
                  });
                }
              }, 250);
            }
          };

      var select = UIkit.uploadSelect($("#file_upload-select"), settings),
          drop   = UIkit.uploadDrop($("#file_upload-drop"), settings);
          
    });