button.uk-modal-close.uk-close.stf-close.md-color-white(type='button')

.uk-modal-header.stf-modal-header.stf-modal-header-primary
  i.material-icons.stf-modal-header-icon.uk-border-circle.uk-margin-right.z-depth-1.md-bg-grey-50.md-color-stf-primary &#xE145;
  span.stf-modal-header-subheading Registrar Recebimento
  span.stf-modal-header-heading Novo Processo Físico

form
  .uk-grid
    .uk-width-3-5
      .z-depth-1.stf-padding
        .uk-grid(data-uk-grid-margin='')
          .uk-width-1-1.uk-width-large-1-2
            label.uk-form-label(for='qtd_volumes') Quantidade de Volumes
            input.md-input(name='qtd_volumes', ng-model='quantidade_de_volumes')
          .uk-width-1-1.uk-width-large-1-2
            label.uk-form-label(for='qtd_apensos') Quantidade de Apensos
            input.md-input(name='qtd_apensos', ng-model='quantidade_de_apensos')
              
        .uk-grid(data-uk-grid-margin='')
          .uk-width-1-1.uk-width-large-1-2
            label.uk-form-label(for='forma_recebimento') Forma de recebimento
            input.md-input(name='forma_recebimento', ng-model='forma_de_recebimento')
          .uk-width-1-1.uk-width-large-1-2
            label.uk-form-label(for='identificacao_correspondencia') Identificação da correspondência
            input.md-input(name='identificacao_correspondencia', ng-model='identificacao_da_correspondencia')

    .uk-width-2-5
      .card-processo(ng-class="{'card-processo-desabilitado': !(quantidade_de_volumes || quantidade_de_apensos || forma_de_recebimento || identificacao_da_correspondencia)}")
        .uk-grid
          .uk-width-1-2.card-processo-titulo
            h2 Novo Processo

          .uk-width-1-2.card-processo-resumo
            span(ng-show="!quantidade_de_volumes") Nº de Volumes
            span(ng-show="quantidade_de_volumes") {{quantidade_de_volumes}} Volumes
            br
            span(ng-show="!quantidade_de_apensos") Nº de Apensos
            span(ng-show="quantidade_de_apensos") {{quantidade_de_apensos}} Apensos

        .card-processo-grid
          .card-processo-grid-item-vazio(ng-show="identificacao_da_correspondencia && forma_de_recebimento") Recebido por {{forma_de_recebimento}} sob número: {{identificacao_da_correspondencia}}
          .card-processo-grid-item-vazio(ng-show="identificacao_da_correspondencia && !forma_de_recebimento") Recebido sob número: {{identificacao_da_correspondencia}}
          .card-processo-grid-item-vazio(ng-show="!identificacao_da_correspondencia && forma_de_recebimento") Recebido por {{forma_de_recebimento}}
          .card-processo-grid-item-vazio(ng-show="!identificacao_da_correspondencia && !forma_de_recebimento") Tipo de recebimento e número de identificação

      .uk-width-1-1.uk-text-center.uk-margin-top
        a.md-btn.md-btn-success.uk-margin-small-bottom(href="recebedor-2.html") Registrar Processo Físico

    .uk-width-1-1
      hr.stf-modal-separator
      
      span
        a(href="#") 6 pessoas 
        | comentaram isso.

      hr.stf-modal-separator

      .stf-comment-list
        .stf-comment-item.uk-flex(ng-repeat="comentario in comentarios track by $index")
          img.stf-comment-item-avatar(ng-src="{{comentario.avatar}}", alt='')
          .stf-comment-item-content.uk-flex-item-auto
            a.stf-comment-item-author(href='#') João da Silva 
            span {{comentario.texto}}

            .stf-comment-item-actions
              a(href="#") Responder
              span.uk-text-muted 
                | 9 mins ao 
                strong Receber

        .stf-comment-item.uk-margin-top.uk-flex
          img.stf-comment-item-avatar.stf-comment-item-avatar-large.uk-flex-item-none(src='../assets/img/avatars/leandro.png', alt='')

          .stf-comment-item-content.uk-flex-item-auto
            input.stf-comment-item-comment(name='comentario', placeholder='Escreva um comentário...', autocomplete="off", ng-model='textoComentario', ng-keyup="$event.keyCode == 13 && adicionarComentario()")