// main sidebar
aside#sidebar_main
  .sidebar_main_header
    .sidebar_logo
      a.sSidebar_hide(href='#')
        img(src='../assets/img/logo_main.png', alt='Logo do STF')
      a.sSidebar_show(href='index.html')
        img(src='../assets/img/logo_main_small.png', alt='', height='32', width='32')
  .menu_section
    ul
      li.current_section(title='Tarefas')
        a(href='index.html')
          span.menu_icon
            i.material-icons &#xE883;
          span.menu_title Tarefas abertas
      li(title='Tarefas', style='opacity:0.3;')
        a(href='javascript:void(0)')
          span.menu_icon
            i.material-icons &#xE877;
          span.menu_title Tarefas resolvidas
      li(title='Favoritas', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
            i.material-icons &#xE838;
          span.menu_title Favoritas
      li(title='Agendado', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
            i.material-icons &#xE858;
          span.menu_title Agendado
      li(title='Rascunho', style='opacity:0.3;')
        a(href='javascript:void(0)')
          span.menu_icon
            i.material-icons &#xE151;
          span.menu_title Rascunho
      li.divider
      li(title='Dashboards', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
            i.material-icons &#xE871;
          span.menu_title Dashboards
      li(title='Histórico', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
            i.material-icons &#xE889;
          span.menu_title Histórico
      li(title='Contatos', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
            i.material-icons &#xE853;
          span.menu_title Contatos
      li.divider
      li.separador(style='padding:0px 10px 10px 10px; font-size:12px; color:#ccc')
        | Processos de Negócio
      li(title='Autuação', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
          span.menu_title Autuação
      li(title='Autuação', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
          span.menu_title Elaboração de textos
      li(title='Autuação', style='opacity:0.3;')
        a(href='javascript:void(0);', style='cursor:default !important')
          span.menu_icon
          span.menu_title Jurisprudência
      li.divider
// main sidebar end