<div class="content">
	<!-- START JUMBOTRON -->
	<div class="jumbotron" data-pages="parallax">
		<div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
			<div class="inner">
				<!-- START BREADCRUMB -->
				<ul class="breadcrumb">
					<li>
						<p>Dashboards</p>
					</li>
					<li><a href="#" class="active">Dashboard Padrão</a></li>
				</ul>
				<!-- END BREADCRUMB -->
			</div>
		</div>
	</div>
	<!-- END JUMBOTRON -->
	<!-- START CONTAINER FLUID -->
	<div class="container-fluid container-fixed-lg">
		<!-- BEGIN PlACE PAGE CONTENT HERE -->
		<div class="row">
			<div class="col-md-6 col-lg-6 hidden-xlg m-b-10">
				<!-- START WIDGET -->
				<div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle ng-scope" pg-portlet="" progress="circle" on-refresh="refreshTest('.widget-11-2')">
					<div class="panel-heading">
						<div class="panel-title">Minhas Tarefas</div>
						<div class="panel-controls">
							<ul>
								<li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a></li>
								<li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a></li>
								<li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="auto-overflow widget-11-2-table">
						<table class="table table-condensed table-hover">
							<tbody>
								<tr ng-repeat="tarefa in tarefas">
									<td class="font-montserrat fs-12 col-lg-12">
									   <a ui-sref="{{tarefa.nome}}({idTarefa: tarefa.id})">{{tarefa.descricao}}</a>
									</td>
									<td class="text-right b-l b-dashed b-grey col-lg-1">
										<span class="hint-text small">#{{tarefa.id}}</span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- END WIDGET -->
			</div>
            <div class="col-md-6 col-lg-6 hidden-xlg m-b-10">
                <!-- START WIDGET -->
                <div class="widget-11-2 panel no-border panel-condensed no-margin widget-loader-circle ng-scope" pg-portlet="" progress="circle" on-refresh="refreshTest('.widget-11-2')">
                    <div class="panel-heading">
                        <div class="panel-title">Minhas Petições</div>
                        <div class="panel-controls">
                            <ul>
                                <li><a class="portlet-collapse" href="" data-toggle="collapse"><i class="portlet-icon portlet-icon-collapse"></i></a></li>
                                <li><a class="portlet-refresh" href="" data-toggle="refresh"><i class="portlet-icon portlet-icon-refresh"></i></a></li>
                                <li><a class="portlet-close" href="" data-toggle="close"><i class="portlet-icon portlet-icon-close"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="auto-overflow widget-11-2-table">
                        <table class="table table-condensed table-hover">
                            <tbody>
                                <tr ng-repeat="peticao in peticoes">
                                    <td class="font-montserrat fs-12 col-lg-12">
                                    	<a ui-sref="detalhe{{peticao.id}}({idPeticao: peticao.id})">{{peticao.id}} pet</a>
										<!-- <address class="margin-bottom-20 margin-top-10">
											{{tarefa.id}} 
											<br>{{tarefa.detalhes}}
										</address> -->
									</td>
                                </tr>
                            </tbody>
                        </table>
					</div>
                </div>
                <!-- END WIDGET -->
            </div>
		</div>
		<!-- END PLACE PAGE CONTENT HERE -->
	</div>
	<!-- END CONTAINER FLUID -->
</div>
